h1 {
  color: #3c3c3c;
  text-align: left;
  margin-left: 10px;
}

h2 {
  color: #3c3c3c;
  text-align: left;
  margin-left: 10px;
  margin-right: 25px;
}

p {
  color: #3c3c3c;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}

h3 {
  color: #3c3c3c;
  text-align: left;
  margin-left: 25px;
  margin-right: 25px
}

/* horizontal navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3c3c3c;
}

li {
  float: left;
}

li a {
  display: block;
  color: #3399ff;
  text-align: left;
  padding: 10px 15px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* background */
body {
  /* background-color: white; */
  background-image: url("https://i.imgur.com/cR0MUqk.jpg");

}

/* max-width */
div.ex2 {
  max-width: 700px;
  margin: 50px;
  border: 1px solid #3c3c3c;
  background-color: white;
}

img {
  max-width: 700px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  max-width: 45px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.center {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}
